# Dependencies
node_modules

# Build
dist
.next
out
coverage

# Environment
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Prisma
prisma/dev.db

# OS
.DS_Store
Thumbs.db

# IDE
.vscode
.idea